<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Cucumber Suite">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Cucumber Test">
        <classes>
            <class name="com.sdet.runners.TestRunner"/>
        </classes>
    </test>

</suite>